.btn-xl {
    margin: 50px;
    padding: 80px 20px;
    border-radius: 10px;
    width:200px;
    height:200px;
    background-color: cornflowerblue;
    color: #ffffff;
    float: left;
}

a{
    font-size: 16px;
    margin-right: 10px;
}

a:hover{
    color:#ffffff;
    text-decoration:none;
    cursor:pointer;
}
